<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="flex-column justify-space-around">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid navBack">
                <a class="navbar-brand navTitle" href="/">THE TECH BLOG 👩‍💻</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        {{#if logged_in}}

                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <button class="no-button" id="logout">Logout</button>
                        </li>

                        {{else}}
                        <li>
                            <a class="nav-link" href="/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/signUp">Sign Up</a>
                        </li>
                        {{/if}}

                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            {{{body}}}
        </main>
        <footer>
        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>