<div class="container login-container">
  <div class="row">
    <div class="col">
      <form class="form login-form">
        <div class="form-group">
          <input class="form-input" type="text" placeholder="Username" id="username-login" />
        </div>
        <div class="form-group">
          <input class="form-input" type="password" placeholder="Password" id="password-login" />
        </div>
        <div class="form-group">
          <div class="text-center">
            <button class="btn btn-create" type="submit">Login</button>
          </div>
        </div>
        <div class="signup-link">
          <a href="/signUp">SIGN UP HERE 😁</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>